@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    var data = ViewBag.Message;
}

<table border="1">
    <tr>
        <th>Product Name</th>
        <th>GTIN</th>
        <th>Quantity</th>
        <th>Stock</th>
        <th>Action</th>
    </tr>

    @foreach (var item in data)
    {

        <tr>
            <td>@item.ProductName</td>
            <td>@item.GTIN</td>
            <td>@item.TotalQuantity</td>
            <td>@item.Stock</td>
            <td><a class="btn btn-primary" href="@Url.Action("UpdateStock","Home", new { productNo = @item.MerchantProductNo })">Update stock to 25</a></td>
        </tr>
    }
</table>
